* {
    font-family: "Outfit", sans-serif;
}

 body {
    background-color: hsl(212, 45%, 89%);
    position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
   
}

#rcorners {
    width: 350px;
    height: 500px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: white;
    padding: 25px;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
}

p {
    color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;  
  text-align: center;
}

@media only screen and (max-width: 375px) {
     
    h1 {
        color: hsl(218, 44%, 22%);
        font-weight: 700;
        text-align: center;
    }
    
    p {
        color: hsl(220, 15%, 55%);
      font-size: 15px;
      font-weight: 400;  
      text-align: center;
    };
}

@media only screen and (max-width: 1440px) {
    
    h1 {
        color: hsl(218, 44%, 22%);
        font-weight: 700;
        text-align: center;
    }
    
    p {
        color: hsl(220, 15%, 55%);
      font-size: 12px;
      font-weight: 400;  
      text-align: center;
    };
}